body {
    background-color: #f3f5f7;
}

.nav-container {
    width: 100%;
    height: 120px;
    line-height: 120px;
    background-color: #fff;
}

.nav li {
    float: left;
    line-height: 120px;
    margin: auto 27px;
    font-size: 20px;
    list-style-type: none;
}

.nav .ll {
    float: left;
    line-height: 120px;
    margin: auto 40px;
    font-size: 20px;
    list-style-type: none;
}

.nav-right {
    float: right;
    width: 800px;
}

.logo img {
    height: 120px;
    float: left;
}

.logo {
    font-size: 20px;
    color: orangered;
}

.nav a:hover {
    color: #bfa;
    text-decoration: underline;
    text-decoration-color: #bfa;
}

.team-name {
    float: left;
}

.contact .qrcode {
    width: 124px;
    height: 100px;
    margin: 0 20px;
}

.contact .qrcode img {
    width: 100px;
    position: relative;
    top: -40px;
    right: 30px;
}


/* 轮播图模块 */

#mlBox {
    position: relative;
    margin: 100px auto;
    border: 1px #ececec solid;
}

#mlImg {
    width: 100%;
    height: 100%;
}

#mlImg img {
    width: 100%;
    height: 100%;
    display: none;
}

#mlSpan {
    width: inherit;
    height: 10px;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

#mlSpan span {
    display: block;
    float: left;
    width: 32px;
    height: 4px;
    background: white;
    border-radius: 2px;
    margin: 0 2px;
    z-index: 100;
    opacity: 0.4;
}

#mlImg #mlShow {
    display: block;
}

#mlSpan #mlOn {
    opacity: 1;
}

#mlLeft {
    width: 50px;
    height: 50px;
    background: rgb(245, 245, 245, 0.3);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 47%;
    display: none;
    text-align: center;
    line-height: 50px;
}

#mlRight {
    width: 50px;
    height: 50px;
    background: rgb(245, 245, 245, 0.3);
    position: absolute;
    border-radius: 50%;
    right: 0;
    top: 47%;
    display: none;
    text-align: center;
    line-height: 50px;
}

#mlLeft span,
#mlRight span {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#mlLeft:hover {
    background: rgb(245, 245, 245, 0.7);
    font-size: 20px;
}

#mlRight:hover {
    background: rgb(245, 245, 245, 0.7);
    font-size: 20px;
}


/* 推送模块 */

.tuisong {
    position: relative;
    top: -40px;
}

.tuisong-header h3 {
    font-size: 30px;
}

.tuisong-body img {
    height: 120px;
}

.tuisong-body .item {
    width: 300px;
    float: left;
    height: 190px;
}

.tuisong-body .item .check:hover {
    color: rgb(245, 104, 0);
}


/* 书签模块 */

.shuqian-container {
    position: relative;
}

.shuqian-container .shuqian-title {
    font-size: 30px;
}


/* 视频模块 */

.video-container .video-header {
    font-size: 25px;
}

.video-container img {
    width: 530px;
}

.video-container .video-item-1 {
    border: silver solid 1px;
    width: 530px;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

.video-container .video-item-2 {
    border: silver solid 1px;
    width: 530px;
    float: right;
    text-align: center;
    margin-bottom: 10px;
}

.video-container .video-a {
    font-size: 20px;
    font-family: 楷体;
    line-height: 40px;
}


/* 底部模块 */

.footer {
    position: relative;
    top: 60px;
}

.footer .logo {
    background: url(img/footer_logo.png) no-repeat top center;
    height: 90px;
    width: 100%;
    float: right;
    background-color: rgb(25, 75, 155);
}